.skill {
    padding: 0 0 50px 0;
    position: relative;
  }
  .skill-bx {
    /* background: #151515; */
    border-radius: 64px;
    height: 250px;
    text-align: center;
    padding: 60px 50px;
    margin-top: 10px;
  }
  .skill h2 {
      font-size: 30px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;

  }
  .skill-slider {
    width: 90%;
    height: 450;
    margin: 0 auto;
    /* position: relative; */
  }
  .skill-slider .item {
    /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
    width: 100%;
    height: 150px;
    margin: 10px 10px 10px 10px;
    border-radius: 75%;
    text-align: center;
  }
  .background-image-left { 
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }
  
  
  .skill-slider .item .item__content {
    /* position: absolute; */
    margin:40px ;
    margin-top: 45px;
  }